* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.candleBox {
  padding: 70px;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation: candleBox 2s ease forwards;
  animation-delay: 4s;
}
.cloud {
  position: absolute;
  top: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  opacity: 0;
  z-index: 99;
}
.cloud1 {
  left: 0;
  animation: cloud ease alternate infinite;
  animation-duration: 40s;
  animation-delay: 5s;
}
.cloud2 {
  right: 0;
  animation: cloud2 ease alternate infinite;
  animation-duration: 50s;
  animation-delay: 5s;
}
.cloud3 {
  left: 0;
  animation: cloud ease alternate infinite;
  animation-duration: 60s;
  animation-delay: 5s;
}
.moon {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(236, 174, 58);
  opacity: 0;
  animation: moon 1 ease forwards;
  animation-delay: 4.5s;
}
.moon:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(237, 221, 83, 0.3));
  transform: scale(1);
  animation: moonLight 1s ease infinite;
  animation-delay: 4.5s;
}
.table {
  position: relative;
  width: 70%;
  height: 20px;
  border: 1px solid black;
  box-shadow: 0 0 2px 2px black;
  background-color: rgb(72, 2, 72);
}
.candle {
  position: absolute;
  bottom: 20px;
  width: 120px;
  border: 10px solid rgb(59, 37, 59);
  box-shadow: inset -6px 0 2px 0px rgb(174, 160, 209);
  background-color: antiquewhite;
  border-radius: 10px;
}
.candleSm {
  left: 30%;
  height: 150px;
  animation: candleSm 1s ease forwards;
  animation-delay: 7s;
}
.candleLg {
  right: 30%;
  height: 250px;
  animation: candleLg 3s ease forwards;
  animation-delay: 2s;
}
.dots {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 20px;
}
.dots1 {
  left: 30%;
  animation: dots1 3s ease forwards;
  animation-delay: 5s;
}
.dots2 {
  left: 40%;
  animation: dots2 3s ease forwards;
  animation-delay: 0.5s;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(59, 37, 59);
}

.mouth {
  position: absolute;
  top: 60px;
  left: 25%;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  animation: mouth 3s ease alternate forwards;
  animation-delay: 1.5s;
}
.line {
  width: 10px;
  height: 50px;
  background-color: rgb(59, 37, 59);
  border-radius: 10px;
  position: absolute;
  left: 45%;
  top: -50px;
}
.lineSm {
  transform-origin: bottom center;
  animation: lineSm 0.5s ease forwards;
  animation-delay: 6s;
}
.light {
  position: absolute;
  top: -80px;
  left: 36%;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(245, 168, 24);
  animation: light 0.3s ease infinite, lightOff 0.5s 4s forwards;
}
.light::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(237, 221, 83, 0.3));
  animation: lighter 1s ease infinite;
}
.smoke {
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: rgb(197, 187, 187);
  border-radius: 10px;
  opacity: 0;
  animation: smoke 3s ease forwards;
  animation-delay: 4s;
}
.smoke1 {
  bottom: 40%;
  left: 40%;
}
.smoke2 {
  bottom: 45%;
  left: 41%;
}
.smoke3 {
  bottom: 50%;
  left: 39%;
}
.star {
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0;
  animation: star 3s ease infinite;
}
.star:nth-child(1) {
  top: 20%;
  left: 40%;
  animation-delay: 4.5s;
}
.star:nth-child(2) {
  top: 10%;
  left: 60%;
  animation-delay: 5s;
}
.star:nth-child(3) {
  top: 15%;
  left: 30%;
  animation-delay: 5.5s;
}
@keyframes cloud {
  0% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: 80%;
    opacity: 0.3;
  }
}
@keyframes cloud2 {
  0% {
    right: 0%;
    opacity: 0;
  }
  100% {
    right: 80%;
    opacity: 0.3;
  }
}
@keyframes moon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moonLight {
  0% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.3;
  }
}
@keyframes lineSm {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes lighter {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}
@keyframes star {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes smoke {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(-10px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(10px, -40px);
    opacity: 1;
  }
  75% {
    transform: translate(-10px, -60px);
    opacity: 0.6;
  }
  100% {
    transform: translate(10px, -80px);
    opacity: 0;
  }
}
@keyframes light {
  from {
    left: 36%;
    background-color: rgb(245, 168, 24);
  }
  to {
    left: 34%;
    background-color: rgb(235, 190, 132);
  }
}
@keyframes lightOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dots1 {
  0% {
    left: 30%;
  }
  100% {
    left: 10%;
  }
}
@keyframes dots2 {
  0% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}
@keyframes candleSm {
  from {
    background-color: antiquewhite;
  }
  to {
    background-color: rgb(230, 148, 148);
  }
}
@keyframes candleLg {
  0% {
    height: 250px;
  }
  60% {
    height: 300px;
  }
  100% {
    height: 250px;
  }
}

@keyframes mouth {
  0% {
    scale: 0;
    background-color: transparent;
  }
  60% {
    scale: 4;
    background-color: rgb(59, 37, 59);
  }
  100% {
    scale: 0;
    background-color: transparent;
  }
}

@keyframes candleBox {
  0% {
    background-color: white;
  }
  100% {
    background-color: #111;
    background-image: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.1),
      transparent 70%
    );
  }
}
